*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header div p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
}

.game-status {
  background-color: #10a95b;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f4da;
  border-radius: 0.25rem;
  margin-block: 1.85rem;
}

.game-status h2 {
  font-size: 1.25rem;
  margin: 0.3rem;
}

.game-status p {
  margin: 0.3rem;
}

.language-chips {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  justify-content: center;
  gap: 0.3rem;
  margin-bottom: 2rem;
}

.language-chips span {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.letters {
  color: white;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-block: 1rem;
}

.letters span {
  background-color: #323232;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #f9f4da;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
  max-width: 500px;
}

.keyboard span {
  background-color: #fcba29;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  border-radius: 0.3rem;
  border: 1px solid #d7d7d7;
}

footer {
  text-align: center;
  background-color: grey;
  padding-block: 1rem;
  margin-top: 3rem;
}
